* {
	box-sizing: border-box;
}

body {
	/*background: url('images/background.jpg');*/
	color: black;
	background-color: #e2ddd3;
	font-family: "Bitter";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	
}

div.container {
	padding: 0;
	
}

h2 {
	margin: 0;
}

div.mission h2,
div.services h2,
div.third h2 {
	text-align: center;
}

nav {
	margin-bottom: 0 !important;
	background-color: #4d75c9 !important;
	border-radius: 0 !important;
	border: none !important;
	border-bottom: 1.5px solid black !important;	
	
}

div.projects div.project-display {
	margin-bottom: 1em;
}

div.projects ul.list-group {
	max-width: 20em !important;
	border: 1px solid grey;
}

div.projects ul.list-group li.list-group-item {
	padding: .1em .1em .1em .4em;
}

div.projects a > li.list-group-item {
	color: black;
	font-size: .9em;
}

div.projects ul.list-group li.list-group-item:hover {
	background-color: grey;
}

.fixed {
	position: fixed;
	top: 1em;
}

.absolute {
	position:;
	top: 0;
}

div.admin-panel {
	background-color: black;
	color: white;
	padding: .25em;
	width: 100%;
	text-align: center;
}

div.admin-panel a:hover {
	color: blue;
}

ul.navbar-nav li a {
	color: black !important;
}

ul.navbar-nav li a:hover {
	background-color: white !important;
}

div.current p {
	text-align: center;
}

div.jumbotron {
	border-radius: 0 !important;
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #abb0b8;
	/*background-color: rgba(172, 175, 178, .7);*/
	background: url('../images/jumbotron.jpg');
}

div.jumbotron h2 {
	font-size: 1.9em;
	font-weight: 600;
	letter-spacing: .025em;
	margin: .15em;
}

img.nav-img {
	height: 2.8em;
	width: 10em;
	position: absolute;
	left: 0;
	top: 0;
	
}

div.jumbotron img.logo {
	width: 400px;
	height: 175px;
	margin: 0;
	opacity: 0.9;
	filter: alpha(opacity=90); 
	border-top: 1px solid #abb0b8;
	border-right: 1px solid #abb0b8;
	border-left: 1px solid #abb0b8;
	border-bottom: 1px solid #abb0b8;
	margin: .5em 0 0 0;
}

div.jumbotron img.banner {
	height: 100px;
	width: 400px;
	position: relative;
	right: .025em;
	margin: 0 0 .5em 0;
	border: 1px solid #abb0b8;
}


div.services ul {
	padding: .25em 1em .25em 2.5em;
	
	border-radius: .1em;
}

div.services h2 {
	margin: .35em 0;
}

div.mission h2 {
	margin: .25em 0;
	display: none;
}

div.mission p {
	border-radius: .1em;
	padding: .25em;
	display: none;
	
}

div.current img {
	height: 175px;
	width: auto;
	border: 1px solid black;
	
}

div.services {
	background-color: #4d75c9 !important;
}


div.contact th,
div.contact tr,
div.contact td {
	border: 1px solid grey !important;
}


div.contact table {
	max-width: 60em;
	margin: 0 auto;
	overflow: hidden;
}

div.contact table thead th {
	padding: .25em;
	
}

div.contact th,
div.contact tr:nth-of-type(even){
	background-color: #c7d6dd;
}

div.contact tr:last-child td:last-child {
	padding: 0;
}

div.contact img.twitter,
div.contact img.facebook {
		height: 45px;
		width: auto;
		position: relative;
		top: .2em;
		left: .25em;
}

div.contact img.twitter:hover,
div.contact img.facebook:hover {
		height: 46px;

}

div.contact h2 {
	margin: 0;
	font-size: 2.5em;
}

div.contact tr td {
	font-size: 1.25em;
	padding: .75em;
}

div.contact tr td:first-child {
	width: 9em;
	font-weight: bolder;
	text-align: center;
	
}

div.contact h2 {
	margin-left: .5em;
}

div.contact {
	padding: .5em;
}

div.directions {
	border: 1px solid grey;
	max-width: 60em;
	margin: 0 auto .75em auto;
	padding: 1em;
	background-color: #c7d6dd;
}

div.directions iframe {
	margin: 0 auto;
	display: block;
	height: 450px;
	width: 100%;
	border: 1px solid grey !important;
	border-radius: .25em;
}

img.testimonials {
	float: left;
	border: 1px solid black;
}

div.t-section {
	
	overflow: auto;
	margin: 1em;
	/*padding: 1em;
	border-radius: .25em;
	background-color: #afb9ce !important;
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5) !important;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5) !important;*/
}

div.t-section p {
	font-size: 1.15em;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

div.testimonials h3 {
	margin: 0;
}

div.testimonials img {
	margin-right: 1em;
}



div.testimonials h1 {
	text-align: center;

}

div.resume h1 {
	text-align: center;
}

div.resume {
	margin: 0 auto;
	width: 45em;
}


div.resume img {
	height: 190px;
	width: auto;
	margin: 0 auto;
	border: 1px solid black;;
}

div.resume div.owner {
	position: relative;
	top: .25em;
}


div.resume ul {
	border: .25px solid black;
	border-radius: .35em;
}

div.resume div.owner,
div.resume div.resume-list {
	display: inline-block;
	vertical-align: top;
}

div.resume div.resume-list {
	margin-left: 1em;
}

div.resume div.resume-list ul li {
	padding: .45em;
}


div.certificates img {
	height: 175px;
	width: auto;
}

img.higher {
	height: 250px;
	width: 200px;
}

img.wider {
	height: 200px;
	width: 250px;
}

img.level {
	height: 200px;
	width: 200px;
}

.projects {
	margin: .5em 0 0 0;
	
}

div.projects div.project-display {
	margin-bottom: 1em;
}

div.projects div.groupings {
	position: relative;
	right: .48em;
}

div.projects h2 {
	margin: .25em 0;
}
	

div.projects img {
	border: .25px solid black;
}

div.projects div.carousel {
	border: 1px solid grey;
	border-radius: .75em;
	margin-bottom: 1em;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .3);
	padding: .25em;
}


div.projects img {
	margin-bottom: 1em !important;
	border: 1px solid black;
}

div.projects h1 {
	margin: 0;
	font-size: 2.5em;
}

div.marker {
	padding: .05em .25em;
}

div.marker h2,
div.marker a {
	display: block;
	margin: 0;
	padding: 0;
}

div.marker a {
	margin-bottom: .15em;
}

div.marker:nth-child(odd) {
	background-color: #4d75c9;
}

div.certificates img {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}

div.slide {
	margin-bottom: 2em;
}

div.carousel {
	margin: 0;
}

div.item img {
	margin: 0 auto;
	display: block;
}

textarea {
	height: 5em;
}

.groupings {
	text-align: center;
}

div.mission {
	padding: .25em;
	margin-top: -.25em;
	border-bottom: 2.5px solid black;
	border-top: 2.5px solid black;
}

div.mission p,
div.services ul li
{
	font-size: 1.25em;
}



a.email-button {
	width: 7em;
	margin: 0 auto 1em auto;
	
}

div.certificates img {
	border: .25px solid grey;
}

div.current img {
	display: block;
	margin: 0 auto;
}


div.third {
	border-top: 2.5px solid black;
	
}



div.current {
	margin-left: -1em;
}



div.certificates {
	text-align: center;
}

footer {
	clear: both;
	text-align: center;
	padding: 1em 0;
	border-top: 1.5px solid black;
	background-color: grey;
	overflow: auto;
	background-color: #4d75c9 !important;
}

footer p {
	margin: 0;
}

img.resize {
	height: 125px;
	width: auto;
	margin-right: .2em;
}

@media screen and (max-width: 990px) {
	div.mission h2 {
		font-size: 1.75em;
	}
	
	div.mission p {
		font-size: 1.1em;
	}
	
	div.services ul li {
		font-size: 1.1em;
	}
	
	div.current {
		margin-right: -1em;
	}
	
	img.higher {
		height: 225px;
		width: 175px;
	}

	img.wider {
		height: 175px;
		width: 225px;
	}

	img.level {
		height: 175px;
		width: 175px;
	}
	
	div.t-section p {
		font-size: 1em;
	}
}

@media screen and (max-width: 767px) {

	div.resume div.resume-list ul li  {
		padding: .45em;
		font-size: .9em;
	}
	
	div.resume div.resume-list {
		margin-left: 0;
	}
	
	div.resume div.owner p {
		font-size: .9em;
	}
	
	div.resume img {
		height: 175px;
	}
	
	div.resume div.owner {
		margin-right: .5em;
	}
	
	div.resume {
		width: 39em;
	}
	
	div.certificates p {
		font-size: .9em;
		margin: .25em;
	}

	div.projects div.groupings {
		position: static
	}
	
	div.projects h2 {
		font-size: 1.85em;
	}
	
	div.projects h4 {
		font-size: 1.1em;
	}
	
	div.projects h1 {
		margin-left: .25em;
	}

	div.projects div.table {
		padding: 0 .5em;
	}
}

@media screen and (max-width: 546px) {
	div.resume div.owner,
	div.resume div.resume-list {
		display: block;
	}	
	
	div.resume div.resume-list ul li	{
		padding: .4em;
		font-size: .85em;
	}
	
	div.resume div.resume-list ul {
		margin: 0 2em;
	}
	
	div.resume img {
		height: 150px;
		margin: 0 auto;
		display: block;
	}
	
	div.resume div.owner p {
		text-align: center;
	}
	
	div.resume div.owner {
		position: static;
	}
	
	div.resume {
		width: 100%;
	}	
	
	div.certificates {
		margin-top: .75em;
	}
	
	div.contact tr td {
		font-size: 1.15em;
		padding: .55em;
	}
	
	div.contact img.twitter,
	div.contact img.facebook {
			height: 35px;
			
	}
	
	div.info {
		margin-top: .5em;
	}

	div.contact img.twitter:hover,
	div.contact img.facebook:hover {
			height: 36px;

	}
	
	div.directions iframe {
		height: 325px;
	}

}

@media screen and (max-width: 500px) {
	div.jumbotron img.logo {
		width: 300px;
		height: 150px;
	}
	
	img.resize {
		height: 100px;
		width: auto;
	}
	
	div.testimonials img {
		display: block;
		margin: 0 auto;
		margin-bottom: .5em;
	}
	
	div.resume div.resume-list ul li  {
		padding: .25em;
		font-size: .8em;
	}
	

	div.jumbotron img.banner {
		height: 75px;
		width: 300px;
	}
	
	img.testimonials {
		float: none;
		display: block;
	}
	

	div.t-section p {
		margin-top: .25em;
		font-size: 1em;
	}	
	
	div.t-section h3 {
		font-size: 1.15em;
		font-weight: bold;
		text-align: center;
	}
	
	div.mission h2 {
		font-size: 1.65em;
	}
	
	div.mission p {
		font-size: 1em;
	}
	
	div.services ul li {
		font-size: 1.075em;
	}
	
	div.projects h3 {
		font-size: 1.1em;
	}
	
	div.projects h2 {
		font-size: 1.7em; 
	}

	div.mission h2,
	div.services h2,
	div.third h2 {
		text-align: center;
	}	

}

@media screen and (max-width: 386px) {
	div.contact tr td {
		font-size: .98em;
		padding: .49em;
	}
	
	div.contact tr td:first-child {
		width: 2em;
		
	}
	
	div.contact {
		padding: 0;
	}
}