{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}
	
	{%- block fonts %}
	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"> 
	{%- endblock %}

    {%- block styles %}
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Stylesheet -->
	<link href="{{ url_for('static', filename = 'css/authentication.css') }}" rel="stylesheet">
	
    {%- endblock styles %}
	
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {%- endblock scripts %}
	
	{% block js %}
	
	{%- endblock js %}
	
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
	
		{% block content %}
			Edit content page
		{% endblock %}


    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}