<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Error Message</title>
	<style>
		
		div.error_message {
			width: 50em;
			margin: 0 auto;
		}
		
		h1 {
			color: red;
			text-align: center;
		}
		
		img {
			margin: 0 auto;
			height: auto;
			display: block;
			max-width: 25em;
		}
		
		p {
			text-align: center;
		}
		
		ol li {
			margin-bottom: .5em;
		}
		
	</style>
  </head>
  <body>
	<div class="error_message">
		<h1>D'oh! It seems we have reached an error</h1>
		<p>Possible reasons why:</p>
		<ol>
			<li>The file already exists in the projects folder.  <br><strong>Solution:</strong> find out which project it has been uploaded to, delete it, then upload again.</li>
			<li>A file wasn't selected upon submitting. <br><strong>Solution:</strong> Select an image before submitting it.</li>
		</ol>
		<img src="{{ url_for('static', filename='images/simpsons.jpg') }}">
	</div>
  </body>
</html>