{% extends "admin/admin.html" %}
{% from "_formhelpers.html" import render_field, render_submit %}

{% block content %}
<div class="upload-images">
	<h1>Upload images to projects</h1>
	{% include 'admin/includes/project_edit.html' %}
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">Panel Heading</div>
			  <div class="panel-body">
					<!-- Trigger the modal with a button -->
				<button type="button" style="margin-bottom: .5em;" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">add or remove project</button>
				
				<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}" class="project">
					{{ upload.csrf_token }}
					{{ render_field(upload.file) }}
					<div class="form-group">
						<dt><label>project</label></dt>
						<dd>
							<select name="select_project">
								{% for display in project_loop %}
									<option value="{{ display.tag }}">{{ display.name }}</option>
								{% endfor %}
							</select>
						</dd>
					</div>
					{{ render_submit(upload.submit) }}
				</form>	  
			  </div>
			</div>	
		</div>
	
		<div class="col-md-8">
			<ul class="list-group">
			 {% for display in project_loop %}
				<a href="{{ url_for('admin_projects') + '#' + display.tag }}"><li class="list-group-item">{{ display.name }}</li></a>
			 {% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="display-images">
		{% for display in project_loop %}
			
			<h3 id="{{ display.tag }}">{{ display.name }}</h3>
			{% for images in display.images.all() %}
				<!--displayed image -->
				<img src="{{ s3projects +'/'+ display.name +'/'+ images.name }}">
				
				{% include 'admin/includes/image_edit.html' %}
			{% endfor %}
		{% endfor %}
	</div>

</div>

<script>
$(function() {
	//Enlarge image and ask if you want to delete it
	$('img').on('click', function() {
		$('.enlargeImageModalSource').attr('src', $(this).attr('src'));
		$('#enlargeImageModal').modal('show');
	});	
	
	$('input[type="submit"]').attr("class", "btn btn-primary btn-xs");
	$('input[type="file"]').addClass("colorOver");
});

function check() {
	confirm("Are you sure you want to delete this folder?  If you delete it, it will also delete the images inside of it.");
} 

function check_image() {
	confirm("Are you sure you want to delete this image?");
}


</script>
{% endblock %}

