{% extends "admin/admin.html" %}
{% from "_formhelpers.html" import render_field, render_submit %}

{% block content %}

<h2>Concrete</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ concrete.csrf_token }}
	{{ render_field(concrete.concrete) }}
	{{ render_submit(concrete.submit) }}
</form>

<h2>Decks</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ render_field(decks.decks) }}
	{{ render_submit(decks.submit) }}
</form>

<h2>Garages, Pole barnds, and Sheds</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ garages.csrf_token }}
	{{ render_field(garages.garages) }}
	{{ render_submit(garages.submit) }}
</form>

<h2>Finished basement including greatroom bedroom, and bathroom</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ basement.csrf_token }}
	{{ render_field(basement.basement) }}
	{{ render_submit(basement.submit) }}
</form>

<h2>Bathroom Remodels</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ bathroom.csrf_token }}
	{{ render_field(bathroom.bathroom) }}
	{{ render_submit(bathroom.submit) }}
</form>

<h2>Tile Work</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ tile.csrf_token }}
	{{ render_field(tile.tile) }}
	{{ render_submit(tile.submit) }}
</form>

<!--<h2>Added 3 walls and ceiling to make office area</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ walls.csrf_token }}
	{{ render_field(walls.walls) }}
	{{ render_submit(walls.submit) }}-->
	
<h2>Converted half of a garage into a very nice office</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ office.csrf_token }}
	{{ render_field(office.office) }}
	{{ render_submit(office.submit) }}
</form>

<h2>Fencing</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ fencing.csrf_token }}
	{{ render_field(fencing.fencing) }}
	{{ render_submit(fencing.submit) }}
</form>

<h2>Handicap Shower</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ handicap.csrf_token }}
	{{ render_field(handicap.handicap) }}
	{{ render_submit(handicap.submit) }}
</form>

<h2>Siding</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ siding.csrf_token }}
	{{ render_field(siding.siding) }}
	{{ render_submit(siding.submit) }}
</form>

<h2>Custom Island</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ island.csrf_token }}
	{{ render_field(island.island) }}
	{{ render_submit(island.submit) }}
</form>

<h2>Flooring</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ flooring.csrf_token }}
	{{ render_field(flooring.flooring) }}
	{{ render_submit(flooring.submit) }}
</form>

<h2>Wood Stairs</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ stairs.csrf_token }}
	{{ render_field(stairs.stairs) }}
	{{ render_submit(stairs.submit) }}
</form>

<h2>Railing</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ railing.csrf_token }}
	{{ render_field(railing.railing) }}
	{{ render_submit(railing.submit) }}
</form>

<h2>Custom Vanity</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ vanity.csrf_token }}
	{{ render_field(vanity.vanity) }}
	{{ render_submit(vanity.submit) }}
</form>

<h2>Custom Fireplace</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ fireplace.csrf_token }}
	{{ render_field(fireplace.fireplace) }}
	{{ render_submit(fireplace.submit) }}
</form>

<h2>Kids Playhouse</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ playhouse.csrf_token }}
	{{ render_field(playhouse.playhouse) }}
	{{ render_submit(playhouse.submit) }}
</form>

<h2>Kids Bunkbeds</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ bunkbeds.csrf_token }}
	{{ render_field(bunkbeds.bunkbeds) }}
	{{ render_submit(bunkbeds.submit) }}
</form>

<h2>Custom Kitchen Pantry</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ pantry.csrf_token }}
	{{ render_field(pantry.pantry) }}
	{{ render_submit(pantry.submit) }}
</form>

<h2>Stair Railing</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ stair.csrf_token }}
	{{ render_field(stair.stair) }}
	{{ render_submit(stair.submit) }}
</form>

<h2>Egress Window Well</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ egress.csrf_token }}
	{{ render_field(egress.egress) }}
	{{ render_submit(egress.submit) }}
</form>

<h2>Custom Kitchen</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ kitchen.csrf_token }}
	{{ render_field(kitchen.kitchen) }}
	{{ render_submit(kitchen.submit) }}
</form>

<h2>Window</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ window.csrf_token }}
	{{ render_field(window.window) }}
	{{ render_submit(window.submit) }}
</form>

<h2>New Siding and Re-roof</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
	{{ roof.csrf_token }}
	{{ render_field(roof.roof) }}
	{{ render_submit(roof.submit) }}
</form>

<script>
$(function() {
	$('label').hide();
});
</script>
{% endblock %}

