{% extends "admin/admin.html" %}
{% from "_formhelpers.html" import render_field, render_submit %}

{% block content %}
<div class="upload-images">
	<h1>Upload images to projects</h1>
	<p>Click on project heading to see images</p>	

	<h2>Add Project</h2>
	<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
		{{ add_project.csrf_token }}
		{{ render_submit(add_project.project) }}
		{{ render_submit(add_project.submit) }}
	</form>
	
	<h2>Upload image</h2>
	<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_projects') }}">
		{{ upload.csrf_token }}
		{{ render_field(upload.file) }}
		<div class="form-group">
			<dt><label>project</label></dt>
			<dd>
				<select name="project">
					{% for display in option_loop %}
						<option value="{{ display.tag }}">{{ display.name }}</option>
					{% endfor %}
				</select>
			</dd>
		</div>
		{{ render_submit(upload.submit) }}
	</form>
</div>

<script>
$(function() {
	
	$('input[type="submit"]').attr("class", "btn btn-primary btn-xs");
	$('input[type="file"]').addClass("colorOver");
});




</script>
{% endblock %}

