{% extends "admin/admin.html" %}
{% from "_formhelpers.html" import render_field, render_submit %}

{% block content %}
	<div class="image-edit">
	<h2>{{ project_title.name }}</h2>
	<h3>Click on an image to delete it</h3>
					{% for display in project_title.images.all() %}
						<a href="/dashboard/projects/{{ project_title.tag +'/'+ display.name }}/delete">
							<img class="resize" src="{{ s3projects +'/'+ project_title.name +'/'+ display.name }}">
						</a>
						
					{% endfor %}

	</div>
{% endblock %}