<div id="concrete" class="carousel slide" data-ride="carousel" data-interval="false">
	<!-- Indicators --><h2 class="concrete" style="text-align: center;">Concrete Flatwork:</h2>
	<ol class="carousel-indicators">
	  <li data-target="#concrete" data-slide-to="0" class="active"></li>
	  <li data-target="#concrete" data-slide-to="1"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	  <div class="item active">
		<div class="row sidepadding">
			<div class="col-sm-4">
				<img class="wider" src="{{ url_for('static', filename='images/projects/concrete/concrete.jpg') }}">
			</div>
			<div class="col-sm-4">
				<img class="higher" src="{{ url_for('static', filename='images/projects/concrete/dad_-_concrete.jpg') }}">
			</div>
			<div class="col-sm-4">
				<img class="higher" src="{{ url_for('static', filename='images/projects/concrete/Feeding_America_2.jpg') }}">
			</div>
		</div>
	  </div>
	  
	  <div class="item">
		<div class="row sidepadding">
			<div class="col-sm-4">
				<img class="higher" src="{{ url_for('static', filename='images/projects/concrete/Feeding_America_2.jpg') }}">
			</div>
			<div class="col-sm-4">
				<img class="wider" src="{{ url_for('static', filename='images/projects/concrete/sidewalk.jpg') }}">
			</div>
			<div class="col-sm-4">
				<img class="wider" src="{{ url_for('static', filename='images/projects/concrete/stained_concrete.jpg') }}">
			</div>
		</div>
	  </div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#concrete" role="button" data-slide="prev">
	  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#concrete" role="button" data-slide="next">
	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
</div>