<div id="decks" class="carousel slide" data-ride="carousel" data-interval="false">
	<!-- Indicators --><h2 style="text-align: center;">Decks:</h2>
	<ol class="carousel-indicators">
	  <li data-target="#decks" data-slide-to="0" class="active"></li>
	  <li data-target="#decks" data-slide-to="1"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	  <div class="item active">
		<div class="row sidepadding">
			<div class="col-xs-4">
				<img src="{{ url_for('static', filename='images/projects/decks/Closson_deck.jpg') }}">
			</div>
			<div class="col-xs-4">
				<img src="{{ url_for('static', filename='images/projects/decks/Litke_deck.jpg') }}">
			</div>
			<div class="col-xs-4">
				<img src="{{ url_for('static', filename='images/projects/decks/mom_deck_after.jpg') }}">
			</div>
		</div>
	  </div>
	  
	  <div class="item">
		<div class="row sidepadding">
			<div class="col-xs-4">
				<img src="{{ url_for('static', filename='images/projects/decks/My_deck_op.jpg') }}">
			</div>
			<div class="col-xs-4">
				<img src="{{ url_for('static', filename='images/projects/decks/re_deck.jpg') }}">
			</div>
			<div class="col-xs-4">
				<img src="{{ url_for('static', filename='images/projects/decks/treated_deck_composite_railing.jpg') }}">
			</div>
		</div>
	  </div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#decks" role="button" data-slide="prev">
	  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#decks" role="button" data-slide="next">
	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
</div>