<div id="office-area" class="carousel slide" data-ride="carousel" data-interval="false">
	<!-- Indicators --><h2 style="text-align: center;">Added 3 walls and ceiling to make office area </h2>
	<ol class="carousel-indicators">
	  <li data-target="#office-area" data-slide-to="0" class="active"></li>
	  <li data-target="#office-area" data-slide-to="1"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	  <div class="item active">
		<div class="row sidepadding">
			<div class="col-sm-4">
				<img class="higher" src="{{ url_for('static', filename='images/projects/office-area/Closson_Auto_1.jpg') }}"\>
			</div>
			<div class="col-sm-4">
				<img class="higher" src="{{ url_for('static', filename='images/projects/office-area/Closson_Auto_2.jpg') }}">
			</div>
			<div class="col-sm-4"> 
				<img class="higher" src="{{ url_for('static', filename='images/projects/office-area/Closson_Auto_3.jpg') }}">
			</div>
		</div>
	  </div>
	  
	  <div class="item">
		<div class="row sidepadding">
			<div class="col-sm-4">
				<img class="higher" src="{{ url_for('static', filename='images/projects/office-area/Closson_Auto_4.jpg') }}">
			</div>
			<div class="col-sm-4">
				<img class="higher" src="{{ url_for('static', filename='images/projects/office-area/Closson_Auto_5.jpg') }}">
			</div>
			<div class="col-sm-4">
				<img class="higher" src="{{ url_for('static', filename='images/projects/office-area/Closson_Auto_6.jpg') }}">
			</div>
		</div>
	  </div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#office-area" role="button" data-slide="prev">
	  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#office-area" role="button" data-slide="next">
	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
</div>