{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}
	
	{%- block fonts %}
	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"> 
	{%- endblock %}

    {%- block styles %}
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Stylesheet -->
	<link href="{{ url_for('static', filename = 'css/stylesheet.css') }}" rel="stylesheet">
	
    {%- endblock styles %}
	
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {%- endblock scripts %}
	
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#"><img class="nav-img" src="{{ url_for('static', filename='images/logo.png') }}"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li><a href="{{ url_for('resume') }}">Resume/Staff</a></li>
				<li><a href="{{ url_for('testimonials') }}">Testimonials</a></li>
				<li><a href="{{ url_for('projects') }}">Projects</a></li>
				<li><a href="{{ url_for('contact') }}">Contact Us</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
    {%- endblock navbar %}
	
		{% block jumbotron -%}
			
		{%- endblock jumbotron %}	
	
	
	    {% if index %}
		
			{% block index_content -%}
				
			{%- endblock index_content %}
		
		{% else %}
			<div class="container">
				{% block content %}
				
				{% endblock %}
			</div>
			
		{% endif %}


	
	{% block footer -%}
		<footer>brineyconstruction.com</footer>
	{%- endblock footer %}


    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
