{% extends "base.html" %}

{% block title %}
	brineyconstruction.com
{% endblock %}

{% block jumbotron %}
	<div class='jumbotron'>
		<img class='logo' src="{{ url_for('static', filename='images/truck.jpg') }}"><br>
		<img class='banner' src="{{ url_for('static', filename='images/logo.png') }}">
	</div>
	
	
{% endblock %}

{% block index_content %}
	<script>
		$(document).ready(function(){
			$("div.mission p, div.mission h2").fadeIn("swing");
		});
	</script>
	<div class="mission">
	  <div class="container">
		<h2>Need Residential Construction? <br>We're on Your Side</h2>
		<div class="row">
			<div class="col-sm-4">
				<p>Your home is the most important asset you have, so when you’re ready to build or remodel, contact <strong>Briney Construction Services Inc.</strong> for a <strong>FREE</strong> quote. Call, text, or email and you will get a fast response. Nobody wants to call and wait for days before they hear from anyone, right?</p>
			</div>
			<div class="col-sm-4">
				<p>We specialize in residential construction. We try to use the best materials available, and we make sure to take all necessary training and gather all needed information to ensure the procedures we use are up-to-date in style and technique. Our estimates are reasonably priced and professionally done. We make sure you know exactly what to expect when the job is done.</p>
			</div>
			<div class="col-sm-4">
				<p>We offer a <strong>1 year warranty</strong> for all services provided. Most importantly, we work hard to finish each project on time and under budget. We work around your schedule, <strong>customer satisfaction is our #1 priority.</strong> </p>
			</div>
		</div>
	  </div>
	</div>
	<div class="services">
	  <div class="container">
		<h2>Signature Services</h2>
		<div class="row">
			<div class="col-sm-4">
				<ul>
					<li>Siding</li>
					<li>Soffit / Fascia</li>
					<li>Doors / Windows</li>
					<li>Decks</li>
					<li>Concrete Flatwork</li>
					<li>Garages</li>
					<li>Pole Barns</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul>
					<li>Sheds</li>
					<li>Kid's Playground</li>
					<li>Additions</li>
					<li>3 Season Rooms</li>
					<li>Bathroom Remodels</li>
					<li>Kitchen Remodels</li>
					<li>Basement Remodels</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul>
					<li>Interior Doors (bi-folds, pocket doors, sliding doors)</li>
					<li>Custom Built-ins</li>
					<li>Trim / Crown Moulding</li>
					<li>Stair Railing</li>
					<li>Flooring / Tile</li>
				</ul>
			</div>
		  </div>
	   </div>
	</div>
	
	<div class="third">
	  <div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="contact">
					<h2>Contact</h2>
					<p>1324 Benton Harbor, MI 49022</p>
					<p>Phone: 269-369-2242</p>
					<p>Fax: 269-588-4607</p>
					<p>Office Hours:</p>
					<p>Monday - Friday 8AM to 7PM</p>
					<a href="/contact.php" style="color: black;" class="btn btn-xs btn-primary email-button">Email Us</a><br>
					<a target="_blank" title="find us on Facebook" href="https://www.facebook.com/Briney-Construction-Services-Inc-101990093213634/"><img alt="find us on facebook" class="facebook" src="//login.create.net/images/icons/user/facebook-b_130x50.png" border=0></a>
				</div>
			</div>
		  <div class="col-md-8">
				<div class="current">
					<h2>Current Projects</h2>
					<div class="row">
						<div class="col-md-4">
							<img src="{{ url_for('static', filename='images/demo1.jpg') }}">
							<p>Bathroom Remodel</p>
						</div>
						<div class="col-md-4">
							<img src="{{ url_for('static', filename='images/demo2.jpg') }}">
							<p>Siding & Deck</p>
						</div>
						<div class="col-md-4">
							<img src="{{ url_for('static', filename='images/demo3.jpg') }}">
							<p>Deck</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
{% endblock %}