{% extends "base.html" %}
{% block title %}
	projects
{% endblock %}

{% block content %}

{% include 'model-image.html' %}
<div class="wrap projects">
	<h1 id="projects">Projects</h1>
	<div class="table">	  
		<h3>With hundreds of projects completed in this area, we invite you to review our portfolio of some of our finished products.</h3>
		
		<h3>Navigate to the photos and slides of projects we've done!</h3>
		
		 <div class="row">
			<div class="col-sm-4">
				<ul class="projects">
					<li><a href="#concrete">Concrete Flatwork</li>
					<li><a href="#decks">Decks</a></li>
					<li><a href="#garage">Garages, Pole barnds, and Sheds</a></li>
					<li><a href="#finished">Finished basement including greatroom bedroom, and bathroom</a></li>
					<li><a href="#bathroom">Bathroom remodels</a></li>
					<li><a href="#tile">Tile Work</a></li>
					<li><a href="#walls">Added 3 walls and ceiling to make office area</a></li>
					<li><a href="#converted>">Converted half of a garage into a very nice office</a></li>
				</ul>
			</div>
			<div class="col-sm-4">		
				<ul class="projects">
					<li><a href="#fencing">Fencing</a></li>
					<li><a href="#handicap">Handicap Shower</a></li>
					<li><a href="#siding">Siding</a></li>
					<li><a href="#island">Custom Island</a></li>
					<li><a href="#flooring">Flooring</a></li>
					<li><a href="#wood">Wood Stairs</a></li>
					<li><a href="#railing">Railing</a></li>
					<li><a href="#vanity">Custom vanity</a></li>
				</ul>
			</div>
			<div class="col-sm-4">	
				<ul class="projects">
					<li><a href="#fireplace">Custom Fireplace</a></li>
					<li><a href="#playhouse">Kids Playhouse</a></li>
					<li><a href="#bunkbeds">Kids bunkbeds</a></li>
					<li><a href="#pantry">Custom Kitchen Pantry</li>
					<li><a href="#stair">Stair railing</a></li>
					<li><a href="#window">Egress window well</a></li>
					<li><a href="#kitchen">Custom Kitchen</a></li>
					<li><a href="#window">Window</a></li>
					<li><a href="#reroof">New siding and re-roof</a></li>	
				</ul>
			</div>
		</div>
	</div>
		
	{% include 'carousel-slides/concrete.html' %}
	
	{% include 'carousel-slides/decks.html' %}
	
	{% include 'carousel-slides/sheds.html' %}
	
	{% include 'carousel-slides/basements.html' %}
	
	{% include 'carousel-slides/bathrooms.html' %}
	
	{% include 'carousel-slides/tile.html' %}
	
	{% include 'carousel-slides/office-area.html' %}
	
	{% include 'carousel-slides/garage-to-office.html' %}
	
	{% include 'carousel-slides/fencing.html' %}
	
	<div class="groupings">
		<div class="row">
			<div class="col-sm-4">
				<h2 id="handicap">Handicap Shower</h2>
				<img class="higher" src="{{ url_for('static', filename='images/projects/grouping3/Grandma_shower.jpg') }}">		
			</div>
			<div class="col-sm-4">
				<h2 id="siding">Siding:</h2>
				<img class="wider" src="{{ url_for('static', filename='images/projects/grouping2/Kroening_remodel_1.jpg') }}">				
			</div>
			<div class="col-sm-4">
				<h2 >Custom Island</h2>
				<img class="higher" src="{{ url_for('static', filename='images/projects/grouping3/Mom_s_island_9_op_647x483.jpg') }}">				
			</div>

		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<h2 id="flooring">Flooring</h2>
				<img class="wider" src="{{ url_for('static', filename='images/projects/grouping2/Chad_floor.jpg') }}">		
			</div>
			<div class="col-sm-4">
				<h2 id="wood">Wooded Stairs</h2>
				<img class="higher" src="{{ url_for('static', filename='images/projects/grouping3/Russo_stairs_after.jpg') }}">				
			</div>
			<div class="col-sm-4">
				<h2 class="railing">Railing:</h2>
				<img class="wider" src="{{ url_for('static', filename='images/projects/grouping2/Russo_railing.jpg') }}">				
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<h2 id="vanity">Custom Vanity</h2>
				<img class="wider" src="{{ url_for('static', filename='images/projects/grouping1/Bame_vanity.jpg') }}">		
			</div>
			<div class="col-sm-4">
				<h2 id="fireplace">Custom Fireplace:</a></h2>
				<img class="wider" src="{{ url_for('static', filename='images/projects/grouping1/Kroening_fireplace.jpg') }}">				
			</div>
			<div class="col-sm-4">
				<h2 id="playhouse">Kid's Playhouse</h2>
				<img class="wider" src="{{ url_for('static', filename='images/projects/grouping1/Parkers_playhouse.jpg') }}">		
			</div>
		</div>
		
		<a name="bunkbeds"><div class="row sidepadding"></a>
			<h2>Kids bunkbeds</h2>
	
			<div class="col-sm-4">
				<img class="wider" src="{{ url_for('static', filename='images/projects/bunkbeds/Parkers_bed.jpg') }}">		
			</div>
			<div class="col-sm-4">
				<img class="wider" src="{{ url_for('static', filename='images/projects/bunkbeds/038_op_647x485.jpg') }}">				
			</div>
			<div class="col-sm-4">
				<img class="wider" src="{{ url_for('static', filename='images/projects/bunkbeds/037_op_647x485.jpg') }}">		
			</div>
		</div>
		
		<div class="row">
			<h2 id="kitchen">Custom Kitchen Pantry</h2>
	
			<div class="col-sm-6">
				<img class="wider" src="{{ url_for('static', filename='images/projects/pantry/Larsen_kitchen_12.jpg') }}">		
			</div>
			<div class="col-sm-6">
				<img class="wider" src="{{ url_for('static', filename='images/projects/pantry/Larsen_kitchen_13.jpg') }}">				
			</div>
		</div>
		
		<div class="row">
			<h2 id="kitchen">Stair Railing <br>and Custom Kitchen</h2>
	
			<div class="col-sm-6">
				<img class="wider" src="{{ url_for('static', filename='images/projects/railing/curved_stair_rail.jpg') }}">		
			</div>
			<div class="col-sm-6">
				<img class="wider" src="{{ url_for('static', filename='images/projects/railing/Kroening_stair_railing.jpg') }}">				
			</div>
		</div>
		
		<div class="row">
			<h2 class="window">Egress window well<br> and window:</h2>
			<div class="col-sm-6">
				<img class="higher" src="{{ url_for('static', filename='images/projects/egress/McCarty_window_well_1.jpg') }}">		
			</div>
			
			<div class="col-sm-6">
				<img class="higher" src="{{ url_for('static', filename='images/projects/egress/McCarty_window_well_2.jpg') }}">				
			</div>
			
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h2 class="window">Custom Kitchen</h2>
				<img class="higher" src="{{ url_for('static', filename='images/projects/Clough_kitchen_1_op_647x485.jpg') }}">		
			</div>
			
			<div class="col-sm-6">
				<h2 class="window">Window</h2>
				<img class="higher" src="{{ url_for('static', filename='images/projects/Ken_Irwin_window_5.jpg') }}">				
			</div>
			
		</div>
		
		<div class="row">
			<h2 id="reroof">New Siding and Re-roof</h2>
	
			<div class="col-sm-6">
				<h5>New</h5>
				<img class="wider" src="{{ url_for('static', filename='images/projects/siding/Zak_3_op_647x483.jpg') }}">		
			</div>
			<div class="col-sm-6">
				<h5>Old</h5>
				<img class="wider" src="{{ url_for('static', filename='images/projects/siding/Zak_old_1_op_647x485.jpg') }}">				
			</div>
		</div>
	</div>
</div>
{% endblock %}