{% extends "base.html" %}
{% block title %}
	projects
{% endblock %}

{% block content %}

{% include 'model-image.html' %}
<div class="wrap projects">
	<h1 id="projects">Projects</h1>
	<div class="table">	  
		<h3>With hundreds of projects completed in this area, we invite you to review our portfolio of some of our finished products.</h3>
		
		<h3>Navigate to the photos and slides of projects we've done!</h3>
		
		<ul class="list-group">
		 {% for display in projects %}
			<a href="{{ url_for('projects') + '#' + display.tag }}"><li class="list-group-item">{{ display.name }}</li></a>
		 {% endfor %}
		</ul>
	</div>
		
	<div class="projects">
			{% for display in projects %}
				<div class="display.tag">
					<h2>{{ display.name }}</h2>
					{% for display_images in display.images.all() %}
						<img class="resize" id="{{ display.tag }}" src="{{ s3projects +'/'+ display.name +'/'+ display_images.name }}">
					{% endfor %}
				</div>
			{% endfor %}
	</div>
</div>
{% endblock %}