{% extends "base.html" %}

{% block title %}
	resume
{% endblock %}

{% block content %}
	<div class="wrap">
		<div class="resume">
			<h1>Resume/Staff</h1>
			<div class="owner">
				<img src="{{ url_for('static', filename='images/owner.jpg') }}">
				<p>Owner: Josh Briney</p>
			</div>
			
			<div class="resume-list">
				<ul class="list-group">
					<li class="list-group-item"><span class="underline bold">concrete flatwork</span> / Rose Concrete, Baroda, MI</li>
					<li class="list-group-item"><span class="underline bold">framing</span> / Augustiniak Construction, Benton Harbor MI</li>
					<li class="list-group-item"><span class="underline bold">finish carpentry</span> / Powell Construction, St. Joseph MI</li>
					<li class="list-group-item"><span class="underline bold">jobsite supervisor</span> / Barlow Customer Builders, Edwardsburg MI</li>
					<li class="list-group-item"><span class="underline bold">Millword Specialist, Pro Sales</span> / Home Depot, Benton Harbor, MI</li>
					<li class="list-group-item"><span class="underline bold">NOW owner / operator</span> / Briney Construction Services Inc.</li>			
				</ul>
			</div>
		</div>
		<div class="certificates">
			<p>Completed 60 hrs of training at Builders License Training Institute receiving all nine certificates of completion + Briney Construction Services is a legally licensed residential builder in the state of Michigan and we PROVE it! You should always check to see that anyone who is performing work for you is licensed and insured.</p>
			
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate1.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate2.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate3.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate4.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate5.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate6.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate7.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate8.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate9.jpg') }}">
				</div>
			</div>
			
			<p>Michigan also requires 21 hours of continuing education every 3 years for the first 6 years</p>
			
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/builder1.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate2.jpg') }}">
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='images/certificates/certificate3.jpg') }}">
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<p>Licenes</p>
					<img src="{{ url_for('static', filename='images/certificates/license.jpg') }}">
				</div>
				
				<div class="col-md-6">
					<p>Insurance</p>
					<img src="{{ url_for('static', filename='images/certificates/certificate2.jpg') }}">
				</div>
				

			</div>
		</div>
	</div>
{% endblock %}