{% extends "base.html" %}

{% block title %}
	Testimonials
{% endblock %}

{% block content %}
	<div class="wrap testimonials">

		<h1>Testimonials</h1>
	
		<div class="t-section">
			<img class="wider testimonials" src="{{ url_for('static', filename='images/Dawn_Dennis.jpg') }}">
			<h3>Dawn and Dennis - St. Joseph, MI</h3>
			<p>"My family and business have used Briney Construction Services for our construction needs for several years now. He has done us very good work at reasonable pricing. He has even solved some problems that required some creative "out of the box" thinking. I would recommend him to my family and friends."</p>
		</div>
			<hr>
		<div class="t-section">
			<img class="level testimonials" src="{{ url_for('static', filename='images/Jon_Jamie.jpg') }}">
			<h3>Jon and Jamie - Hartford, Mi</h3>
			<p>About a year ago I decided to purchase a shed kit from a big box and assemble it in the back yard.  I eagerly awaited the delivery of my materials.  The day they arrived I realized I was in trouble.  I looked with dismay at the pile of plywood, lumber, and fasteners and knew I was going to need some help.  I needed someone I could trust and I needed someone to do the job fast.  The clear choice was Josh Briney of Briney Construction.  He quoted me a more than reasonable price.  Josh and his team worked efficiently and quickly constructed the shed.  Josh was open and helpful as my wife and I made some changes to the design.  Despite some rather warm weather the project was completed ahead of schedule.  My wife and I really appreciated Josh’s attention to detail and professionalism.</p>
		</div>
			<hr>
		<div class="t-section">
			<img class="level testimonials" src="{{ url_for('static', filename='images/Lori_Aaron.jpg') }}">
			<h3>Lori and Aaron - Coloma, Mi</h3>
			<p>Briney Construction has done a few projects for us. The first being a shed in the fall of 2012. Josh came out measured the space and was patient with me as I needed to get out the tape measures to see exactly how big it would be. 
			He also put a gate in an existing wood fence for us. Unless you know there is a gate there you don't even see it.
			A few weeks ago days before our daughters 4th birthday we called Josh last minute and asked if he could build a platform for a new slide as a surprise for her. He didn't hesitate to draw something up and give us a quote.</p>
		</div>
	</div>

{% endblock %}